﻿body .gc_logo img {
    /*margin-top:-30px;*/
}
body .jp_footer_main_wrapper {
    background-color: #202637;
}
body .jp_footer_logo {
    height: 53px;
    width:181px;
}
body .jp_footer_logo img {
    height: 53px;
    width:181px;
}
.imgResize {
    width:180px !important;
}
.marginTopSm {
    margin-top : 10px;
}
.marginTopMd {
    margin-top : 15px;
}
.marginTopLg {
    margin-top : 20px;
}
.marginTopMax {
    margin-top : 30px;
}
.marginBottomSm {
    margin-bottom : 10px;
}
.marginBottomMd {
    margin-bottom : 15px;
}
.marginBottomLg {
    margin-bottom : 20px;
}
.marginBottomMax {
    margin-bottom : 30px;
}
