﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pub/MasterPage.master" AutoEventWireup="true" CodeFile="privacy.aspx.cs" Inherits="Pub_privacy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cpTitle" Runat="Server">
    Privacy Policy
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpHeader" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cpContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cpScript" Runat="Server">
</asp:Content>

